.admin__select {
  box-sizing: border-box;
  border: 0;
  border-bottom: 3px solid #db8b5b;
  margin: 0 0 16px 0;
  padding: 0 0 10px 30px;
  background-color: #1e272c;
  border-radius: 2px;
  color: white;
  width: 100%;
}
