@import url(./vendor/normalize.css);
@import url(./vendor/inter.css);

@import url(./blocks/page/page.css);
@import url(./blocks/page/page__div.css);
@import url(./blocks/page/page__div_href.css);
@import url(./blocks/page/page__header.css);
@import url(./blocks/page/page__about.css);
@import url(./blocks/page/page__outline.css);
@import url(./blocks/page/page__polling.css);
@import url(./blocks/page/page__map.css);

@import url(./blocks/title/title.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/header__block.css);
@import url(./blocks/header/header__title.css);
@import url(./blocks/header/header__image.css);
@import url(./blocks/header/header__subtitle.css);
@import url(./blocks/header/header__button.css);

@import url(./blocks/subtitle/subtitle.css);
@import url(./blocks/subtitle/subtitle__title-H2.css);
@import url(./blocks/subtitle/subtitle__line/subtitle__line.css);
@import url(./blocks/subtitle/subtitle__line/subtitle__line_short.css);
@import url(./blocks/subtitle/subtitle__line/subtitle__line_long.css);
@import url(./blocks/subtitle/subtitle__line/wrapper.css);

@import url(./blocks/about/about__list.css);
@import url(./blocks/about/about__item.css);
@import url(./blocks/about/about__image.css);
@import url(./blocks/about/about__description.css);

@import url(./blocks/outline/outline.css);

@import url(./blocks/polling/polling.css);
@import url(./blocks/polling/polling__block.css);
@import url(./blocks/polling/polling__form.css);
@import url(./blocks/polling/polling__submit.css);
@import url(./blocks/polling/polling__image.css);

@import url(./blocks/list/list.css);
@import url(./blocks/list/list__button.css);
@import url(./blocks/list/list__button_open.css);
@import url(./blocks/list/list__element.css);
@import url(./blocks/list/list__img.css);
@import url(./blocks/list/list__img_open.css);
@import url(./blocks/list/list__map.css);
@import url(./blocks/list/list__text.css);
@import url(./blocks/list/list__map_hidden.css);

@import url(./blocks/map/map.css);
@import url(./blocks/map/map__button.css);
@import url(./blocks/map/map__button_back.css);
@import url(./blocks/map/map__menu.css);
@import url(./blocks/map/map__map.css);

@import url(./blocks/menu/menu.css);
@import url(./blocks/menu/menu__element.css);
@import url(./blocks/menu/menu__list.css);
@import url(./blocks/menu/menu_open.css);
@import url(./blocks/menu/button/button__img.css);
@import url(./blocks/menu/button/button__text.css);
@import url(./blocks/menu/button/button__text_open.css);
@import url(./blocks/menu/button/buttton__img_open.css);
@import url(./blocks/menu/button/menu__button/menu__button.css);

@import url(./blocks/submit/submit.css);

@import url(./blocks/admin/admin.css);
@import url(./blocks/admin/admin__title.css);
@import url(./blocks/admin/admin__frame.css);
@import url(./blocks/admin/admin__list-element.css);
@import url(./blocks/admin/admin__list-button.css);
@import url(./blocks/admin/admin__input.css);
@import url(./blocks/admin/admin__submit.css);
@import url(./blocks/admin/admin__add.css);
@import url(./blocks/admin/admin__create.css);
@import url(./blocks/admin/admin__create-visible.css);
@import url(./blocks/admin/admin__select.css);
@import url(./blocks/admin/admin__select_option.css);
@import url(./blocks/admin/admin__section_flex.css);

@import url(./blocks/map__popup/map__popup.css);
@import url(./blocks/map__popup/map__popup_hidden.css);
@import url(./blocks/map__popup/popup__button.css);
@import url(./blocks/map__popup/popup__input.css);
@import url(./blocks/map__popup/popup__submit.css);
@import url(./blocks/map__popup/form-container.css);
@import url(./blocks/map__popup/popup__delete_hidden.css);
@import url(./blocks/map__popup/popup__add_hidden.css);
@import url(./blocks/map__popup/popup__textarea.css);
@import url(./blocks/map__popup/popup__edit_hidden.css);
@import url(./blocks/map__popup/popup__submit_hidden.css);

@import url(./blocks/datepicker/datepicker.css);
@import url(./blocks/datepicker/datepicker_visible.css);

/*Это костыли*/
.mapboxgl-popup-content {
  background: transparent;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: transparent;
}

.mapboxgl-popup-close-button {
  top: -8px;
  font-size: 50px;
  color: #db8b5b;
}
