.list__button-img {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(../../../images/stop.png);
  background-color: rgba(30, 39, 44, 0.9);
  border: none;
  border-bottom: 0px solid #db8b5b;
  margin: 0;
  opacity: 1;
  padding: 0;
}
