.form__button {
  height: 50px;
  background-color: rgba(30, 39, 44, 0.9);
  border: none;
  border-bottom: 2px solid #db8b5b;
  margin-bottom: 0px;
  margin-top: 0;
  font-size: 20px;
  color: white;
  position: relative;
  bottom: 10px;
  /* right: 10px; */
}
