.map__popup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #1e272c;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 30%;
  right: 40%;
}
