.header__title {
  min-width: 288px;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  color: #db8b5b;
  margin-top: 120px;
  margin-bottom: 50px;
}

@media all and (min-width: 768px) {
  .header__title {
    text-align: start;
    line-height: 1.2;
    font-size: 42px;
    margin-top: 130px;
    margin-bottom: 50px;
  }
}
@media all and (min-width: 1024px) {
  .header__title {
    text-align: start;
    line-height: 1.2;
    font-size: 53px;
    margin-top: 160px;
    margin-bottom: 75px;
  }
}

@media all and (min-width: 1280px) {
  .header__title {
    text-align: start;
    line-height: 1.2;
    font-size: 68px;
    margin-top: 200px;
    margin-bottom: 80px;
  }
}
