.main-page__about {
  padding: 0 16px 80px;
}

@media all and (min-width: 768px) {
  .main-page__about {
    padding: 0 24px 100px;
  }
}

@media all and (min-width: 1024px) {
  .main-page__about {
    padding: 0 48px 200px;
  }
}

@media all and (min-width: 1280px) {
  .main-page__about {
    padding: 0 48px 200px;
  }
}
