.list__open {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}

/* .list__open :last-of-type {
  margin-bottom: 10px;
} */
