.list__map {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #1e272c;
}

/* .list__open :last-of-type {
  margin-bottom: 10px;
} */
